.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(
      min-content,
      max-content
    );
  gap: 50px 45px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .features__list {
    grid-template-columns: minmax(min-content, max-content);
    gap: 45px;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 568px) {
  .features__list {
    gap: 35px;
    width: calc(100% - 10px);
  }
}
