.slider__nav {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin-top: 60px;
}

@media screen and (max-width: 1024px) {
  .slider__nav {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 500px) {
  .slider__nav {
    margin-top: 50px;
  }
}

@media screen and (max-width: 390px) {
  .slider__nav {
    margin-top: 25px;
  }
}
