.intro__text-container {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 50px;
    max-width: 645px;
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
}