.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 401px;
}

@media screen and (max-width: 1000px) {
  .header__container {
    width: calc(100% - 230px);
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    width: calc(100% - 190px);
  }
}

@media screen and (max-width: 440px) {
  .header__container {
    width: calc(100% - 20px);
  }
}
