.about-us__text {
  font-size: 18px;
  line-height: 1.6;
  color: #4b5d68;
  margin-top: 40px;
}

@media screen and (max-width: 568px) {
  .about-us__text {
    font-size: 16px;
    margin: 30px 0 0 0;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 390px) {
  .about-us__text {
    font-size: 14px;
    margin: 10px 0 0 0;
  }
}
