.feature__text-container {
  grid-area: 1/2;
  max-width: 220px;
  display: grid;
  gap: 20px;
  justify-self: end;
  margin: 49px 50px 33px 0;
}

@media screen and (max-width: 568px) {
  .feature__text-container {
    margin: 29px 25px 15px 0;
  }
}
