.intro__img-container {
  width: 70.913%;
  max-width: 885px;
  max-height: 468px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  margin-top: 96px;
}

@media screen and (max-width: 1280px) {
  .intro__img-container {
    margin: 100px 0 0 200px;
  }
}

@media screen and (max-width: 1000px) {
  .intro__img-container {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 20px 0 0 0;
    justify-self: center;
  }
}

@media screen and (max-width: 500px) {
  .intro__img-container {
    width: calc(100% - 20px);
  }
}
