.intro__img-container {
  width: 70.913%;
  max-width: 885px;
  max-height: 468px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  margin-top: 96px;
}

@media screen and (max-width: 1280px) {
  .intro__img-container {
    margin: 100px 0 0 200px;
  }
}
