.about-us__img-container {
  width: 41.987%;
  max-width: 469px;
  max-height: 496px;
  margin: 0 65px 0 16px;
}

@media screen and (max-width: 1024px) {
  .about-us__img-container {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .about-us__img-container {
    width: calc(100% - 20px);
    max-height: 280px;
    object-fit: contain;
  }
}
