.slider {
  max-width: 1120px;
  background-color: #9c69e2;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 109px 0 60px 93px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .slider {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    width: 100%;
  }
}
