.features__subtitle {
  font-size: 18px;
  line-height: 1.6;
  color: #4b5d68;
  font-weight: 500;
  max-width: 584px;
  text-align: center;
  margin: 50px 0 100px;
}

@media screen and (max-width: 1000px) {
  .features__subtitle {
    margin: 30px 0 80px;
  }
}

@media screen and (max-width: 568px) {
  .features__subtitle {
    margin: 30px 0 50px;
  }
}
