.footer__main-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1085px;
}

@media screen and (max-width: 1024px) {
  .footer__main-container {
    width: calc(100% - 40px);
  }
}
